* {
    padding: 0;
    margin: 0;
}



body {
    background-color: gray;
    height: fit-content;
    position: relative;

}

header {
    background-color: black;
    color: rgb(25, 159, 67);
    font-size: 20px;


}

.headernav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
}

.a {
    text-decoration: none;
    color: gray;

}

.footer {
    position: sticky;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;

}

/* table,
tr,
th,
td {
    border: 1px solid;
    color: black;
}

table,
tr {
    border-collapse: collapse;
}

table {
    margin: 10% auto;
}

th,
td {
    padding: 5px;
}

th {
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(157, 152, 152);
    border-color: black
}

td:hover {
    background-color: lightsalmon;
    color: black;
    cursor: pointer;
}
*/

#myForm {

    display: flex;

    flex-direction: column;
    width: 30%;
    font-size: 17px;

    margin: 20px auto;
    padding: 5px;

    border: 2px solid rgb(21, 21, 21);
}

#submit {
    background-color: black;
    color: gray;
    border: 2px solid;
    width: 30%;
    margin: 0 auto;

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 4% auto;
    text-align: center;
    font-family: arial;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover,
a:hover {
    opacity: 0.7;
}

#allEmployees {
    display: flex;
    justify-content: center;
}